<!DocTYPE html>
<html>
  <head>
    <title>Anjali Career</title>
  </head>
  <body>
    <header> 
     <center>
       <h1 > Anjali Career</h1>
     </center>
    </header>
    <img src="https://069e20e8-06df-43ec-9797-481001593e01-00-35l3fa1tpjsyx.pike.replit.dev/static/banner.jpg" height="320" width="100%"">
    <h2>
      About Anjali
    </h2>
    <p>
      A Dedicated Software Engineer ,hands on development, design and coding Implementation and optimization with good understanding in Python, Flask, Django AWS, Databases SQL, NoSQL, RESTful Web APIs and , engineering practices. <br>
      Also worked in project on comparative analysis on machine learning models. <br>
      I am passionate about learning ML, GenAi for future Prospect.
    </p>
    <h3> Accomplishments</h3>
    <p> Research work on "Sentiment Analysis and Comprehensive Evaluation of Supervised Machine Learning Models Using Twitter Data on Russia–Ukraine War" has been published in SN Computer Science, A Springer Nature Journal.
    <br> Link: <a href="https://link.springer.com/article/10.1007/s42979-023-01790-5"> Journal Link </a>
    </p>
    <h2>Open Positions</h2>
    <p> TODO - Show the jobs here</p>
    <button>Contact Us</button>
    
  </body>
</html> 